#carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.75rem;
    border: 1px solid #ccc;
    padding: .625rem;
    border-radius: 5px;
}

#carrito button{
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}


.producto{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}